version: "3.9"

services:
  order-service:
    build: .
    container_name: order-service
    ports:
      - "8002:8002"
    depends_on:
      - redis

  worker:
    build: .
    container_name: order-worker
    command: ["python", "app/worker.py"]
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
